option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    JAVA_OPTS: "-Xms256m -Xmx512m"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /public: public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-01522ff18219b1691
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application 